<div class="row">
  <div class="col-md-3" *ngFor="let property of filteredProperties">
    <div class="card text-dark" style="width: 18rem; padding: 10px; border: 5px outset #0f936e;border-radius: 10px; margin: auto;">
      <div class="card-body">
        <img class="card-img-top" src="../../assets/property.jpg" alt="Card image cap" style="height: 90%; width: 90%;">
        <hr>
         <p>Owner: {{ property.owner }}</p> 
        <p>Rent: {{ property.rent }}</p>
        <p>Area: {{ property.area }}</p>
        <p>Place: {{ property.place }}</p>
        <p>Amenities: {{ property.amenities }}</p>
        <p>Status: {{ property.status }}</p>
        <hr>
        <p>Contact: {{ property.contact }}</p>
        <button *ngIf="isLoggedIn && usertype === 'tenant'" [disabled]="property.contactRequestApproved" (click)="requestContactDetails(property)">Request Contact Details</button>
    <button *ngIf="isLoggedIn && usertype === 'owner'" (click)="approveContactRequest(property)">Approve Contact Request</button>
    <p *ngIf="property.showContactEmail && property.contactEmail">Contact Email: {{ property.contactEmail }}</p>
  
      </div>
    </div>
  </div>
</div>


